label, p, div, span {
  font-family: sans-serif;
}

textarea, input {
  font-family: monospace;
}

button {
  background: white;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 0.2rem;
}
button:hover {
  background: #ddd;
}
input {
  border: 0;
  border-bottom: 1px solid #aaa;
}
